:root {

    color-scheme: dark;
}

body {
    margin-top: 5vh;
    font-family: "Space Grotesk", sans-serif;
    color: #ffffff;
    background-color: rgb(22, 22, 22);
    width: 100%;
    
}

a {

color: inherit

}

h5 {

    font-size: 15pt;
}



.navbar {


    background-color: rgb(203, 20, 20);
    border-radius: 50px;
    padding: 15px;
    display: flexbox;
    font-weight: 700;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.6);
    justify-content: center;
    margin-inline: 5vh;
    width: 50%;
    margin:auto;
    text-align: center;
    position: sticky;
    top: 5%;
    z-index: 1;

    
    
    
}

.navbar-link {

    margin-inline: 10px;
    text-decoration:none;
    text-decoration-thickness: 0px;
    
}

.navbar-link:hover {

    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 17px;
    padding: 5px;
    transition: 0.5s;
}

.hero {

height: 60vh;
position: relative;
align-content: center;
margin-bottom: 10vh;

}

.hero-text {

    font-family: "Playwrite PE", sans-serif;
    line-height: 200px;
    font-size: 20vh;
    color: rgb(203, 20, 20);
    text-align: center;
}

.hero-button {

    border-radius: 50px;
    background-color: #212121;
    color: #ffffff;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 2.5vh;
    padding: 1vh;
    padding-inline: 3vh;
    border-color: rgb(203, 20, 20);
    border-width: 0.3vh;
    outline: 0;
    cursor: pointer;
    position: absolute;
    left: 35%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.483);
    
    
}

.hero-button:hover {

    background-color: rgb(203, 20, 20);
    border-color: white;
    box-shadow: 0px 5px 40px rgba(255, 255, 255, 0.062);
    transition: 0.2s ease-in;
}

.skills, .projects {

    background-color: #212121;
    padding: 10vh;
    
}

 td, tr, th {

    text-align: center;
    text-justify: center;
    padding-inline: 20px;
    padding-top: 2vh;

}

th, table {

border-bottom: 1px solid white;
padding-bottom: 2vh;
margin: auto;
}

.skill-level {

color: rgb(203, 20, 20);
font-size: x-large;
font-weight: 900;
text-decoration: underline;
text-underline-offset: 0.5vh;

}

.skills-text {

    background-color: rgb(203, 20, 20);
    color: white;
    padding: 5vh;
    margin-top: 10vh;
    border-radius: 25px;
}

.white-button {

    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin-top: 15px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    padding-inline: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.6);
}

.contact-form {

    display: block;
    background-color: rgb(203, 20, 20);
    padding: 7vh;
    margin: auto;
    width: 50%;
    margin-bottom: 10vh;
    border-radius: 25px;
    
}

.contact-form-field {

padding: 2vh;

}


input, textarea {

background-color: transparent;
border-color: white;
border-width: 2;
border-top: none;
border-inline: none;
padding: 5px;
margin-top: 10px;
width: 100%;

}

.project-card {

    display: flex;
    margin-bottom: 10%;
    background-color: rgb(203, 20, 20);
    padding: 7vh;
    border-radius: 25px;
    min-width: 600px;
}

.card-text {

    margin-left: 10%;
}

.card-image {

    border-radius: 25px;
    overflow-x: hidden;
    width: 300px;
    display: block;
    min-width: 300px;
    max-width: 300px;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.3);
}


.footer-container {
    background-color: rgb(203, 20, 20);
    display: flex;
    padding: 20px;
    justify-content: center;
}

.footer-contact, .footer-quicklinks, .footer-socials {

    display: block;
    padding: 2%;
    width: 100%;
}



