body {
    margin-top: 5vh;
    font-family: "Space Grotesk", sans-serif;
    color: #ffffff;
    background-color: rgb(22, 22, 22);
    width: 100%;
    
}

a {

color: inherit

}

h5 {

    font-size: 15pt;
}



.navbar {


    background-color: rgb(203, 20, 20);
    border-radius: 50px;
    padding: 15px;
    display: flexbox;
    font-weight: 700;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.6);
    justify-content: center;
    margin-inline: 5vh;
    width: 50%;
    margin:auto;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
    
    
    
}

.navbar-link {

    margin-inline: 10px;
    text-decoration:none;
    text-decoration-thickness: 0px;
    
}

.navbar-link:hover {

    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 17px;
    padding: 5px;
    transition: 0.5s;
}

.hero {

height: 60vh;
position: relative;
align-content: center;
margin-bottom: 10vh;

}

.hero-text {

    font-family: "Playwrite PE", sans-serif;
    font-size: 15vw;
    line-height: 10vw;
    color: rgb(203, 20, 20);
    text-align: center;
}

.hero-button {

    border-radius: 50px;
    background-color: #212121;
    color: #ffffff;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 2.5vh;
    padding: 1vh;
    padding-inline: 3vh;
    border-color: rgb(203, 20, 20);
    border-width: 0.3vh;
    outline: 0;
    cursor: pointer;
    position: absolute;
    left: 35%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.483);
    
    
}

.hero-button:hover {

    background-color: rgb(203, 20, 20);
    border-color: white;
    box-shadow: 0px 5px 40px rgba(255, 255, 255, 0.062);
    transition: 0.2s ease-in;
}

.skills {

    background-color: #212121;
    padding: 10vh;
    width: 100%;
    
}

 td, tr, th {

    text-align: center;
    text-justify: center;
    padding-inline: 20px;
    padding-top: 2vh;

}

th, table {

border-bottom: 1px solid white;
padding-bottom: 2vh;
}

.skill-level {

color: rgb(203, 20, 20);
font-size: x-large;
font-weight: 900;
text-decoration: underline;
text-underline-offset: 0.5vh;


}

.footer-container {
    background-color: rgb(203, 20, 20);
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: center;
}

.footer-contact, .footer-quicklinks, .footer-socials {

    display: block;
    padding: 2%;
    width: 100%;
}



